html {
    height: 100%;
}

body {
    margin: 0;
    page-break-after: 0;
    height: 90%;
    background-image: linear-gradient(#FF6666, #FFA95A);
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-family: Arial Black;
    font-weight: bolder;
}


button {
    margin-left: 80%;
    padding: 15px;
    background-color: white;
    display: inline-block;

}
.box {
    height: 75%;
    width: 80%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
}
label {
    display: block;
    position: relative;
    font-size: large;
    font-family: Arial Black;
    margin-left: 5%;
    padding-top: 20px;
    top: 20px;
}

.field{
    margin-left: 12%;
    padding: 8px;

}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #FFA95A;
    border-radius: 40px;
    border: 0;
    margin-top: 100px;
    box-shadow: 0px 0px 5px rgb(95, 95, 95);
    font-size: large;
    font-family: arial black;
}
